*.nogit*

*~
*.bak
*.[od]
*.so
*.tar.*
*.elf
*.hex

*.log

*.class
*.jar
*.apk
*.apk.d
*.ap_
*.ap_.d
*.dex
*.dex.d
*.fpo

*.geany

home2l-*.amd64
home2l-*.i386
home2l-*.armhf

.nfs*
core
__pycache__

!home2l-showcase-vbox.tar.gz

external/archive
external/*/archive
external/*/install
external/*/src*
external/*/build
external/*/debs
external/*/usr.new
external/*/usr

wallclock/icons.build
#wallclock/android/bin
#wallclock/android/gen
#wallclock/android/libs
#wallclock/android/obj
#wallclock/android/src/org/home2l/app/Home2lConfig.java

#resources/home2l_wrap.C
#resources/home2l.py*
